.forum-hero {
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--radius-3xl);
  height: 300px;
  margin: var(--space-xl);
  position: relative;
}

.forum-hero-content {
  max-width: 600px;
  padding: var(--space-xl) 30px;
  border-radius: var(--radius-xl);
}

.forum-hero h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}

.forum-hero p {
  font-size: var(--text-xl);
  font-weight: 500;
}
