.forum-card {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
}

.forum-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.forum-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.forum-organizer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #133270;
}

.organizer-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: contain;
  margin-right: 10px;
  border: 1px solid #e1e4e8;
  background-color: white;
}

.organizer-name {
  font-weight: 500;
}

.forum-title {
  font-size: 30px;
  font-weight: 700;
  color: #2c3e50;
  margin: 10px 0px;
}



.forum-meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: #6b7280;
}

.forum-meta svg {
  margin-right: 5px;
  color: #6b7280;
}

.forum-button {
  background-color: #27a5df;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.forum-button:hover {
  background-color: #1991c7;
}

/* Ajout du bouton "En savoir plus" */
.forum-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.forum-actions button {
  flex: 1;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.en-savoir-plus {
  background-color: transparent;
  color: #374151;
  border: 1px solid #d1d5db;
}

.en-savoir-plus:hover {
  background-color: #f9fafb;
}

.s-inscrire {
  background-color: #27a5df;
  color: white;
  border: none;
}

.s-inscrire:hover {
  background-color: #1991c7;
}
.forum-description {
  font-size: 14px;
  color: #010a3c;
  font-family: 'Poppins';
  margin: 0;
}
.forum-buttons {
  display: flex;
 justify-content: space-between;
 align-items: center;
  margin-top: 1rem;
}

.forum-button {
  padding: 0.5rem 1rem;
  background-color: #008291; /* couleur principale */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.forum-button:hover {
  background-color: #006f73; /* couleur au survol */
}

.inscription-button {
  background-color: #0a9396;
}

.inscription-button:hover {
  background-color: #007c8a;
}

.forum-button-link {
  text-decoration: none;
}
